.type, .fav {
    border-radius: 1em;
    box-shadow: 2px 3px 8px -3px #343533;
}
button:hover {
    transform: translateY(-2px);
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}
button:active{
    transform: translateY(0px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.circle {
    border-radius: 50%;
    width: 45px;
    height: 45px;
}