/* You can add global styles to this file, and also import other style files */
.wrap{
    flex-wrap: wrap;
}

body::-webkit-scrollbar {
    width: 15px;
}

body::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(201, 209, 212);
  /* outline: 1px solid slategrey; */
}